@import "normalize.min.css";
@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/source-code-pro');
@import url('https://fonts.cdnfonts.com/css/victoria-serif');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


code * {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
    font-size: 13.6px;
    
}

.line {
    line-height: 24px;
}

html {
    font-size: 16px;
}

:root {
    --radius: 6px
}

body {
    background-color: #ebeceb;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    background-color: black;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
}

.title {
    color: white;
    text-decoration: none;
    display: flex;
    justify-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    padding-inline: 10%;

}

.nav-item {
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.icon {
    font-size: 1rem;
}

.nav-item__logo {
    gap: 12px;
    color: black;
    font-size: 18px;
}

.nav-item__github {
    display: flex;
    gap: 6px;

    border-radius: var(--radius);
    padding: 9px;

    font-weight: 400;

    color: white;
    background-color: black;

}


content {
    display: flex;
    flex-direction: column;
    padding-inline: 10%;
    padding-block: 2rem;
}

.description {
    font-size: 24px;
    line-height: 2.5rem;
}
.description__bold {
    font-weight: 700;
}

.description__sentences {
    font-size: 20px;
}
.description__sentences > a {
    color: #375b5c;
}

.part {
    margin-top: 30px;
    padding-block: 1rem;
}

.fancy-text {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.5rem;
    display: block;
    padding-block-end: 1rem;
}


.import-code>pre {
    padding: 1rem;
    overflow: scroll;
}

.hyperleaflet-sample {
    display: flex;
    flex-direction: column;
}

.hyperleaflet-sample__ui {
    display: flex;
    justify-content: space-between;
}

.hyperleaflet-sample__screen {
    display: flex;
}

.step-button {
    border: none;
    margin: 0;
    width: auto;
    overflow: visible;
    cursor: pointer;

    font-weight: 400;
    color: white;
    font-size: 1rem;

    border-radius: 3px;
    padding: 5px;
    background-color: #555e71;
    margin-block: 3px;

}

.step-button:hover {
    background-color: #2e3440ff;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px
    }
    
    .hyperleaflet-sample__screen {
        flex-direction: column;
    }

    .hyperleaflet-sample__code {
        order: 2
    }

    hyperleaflet-sample__map {
        order: 1
    }
}



.hyperleaflet-sample__code {
    margin-block: 0;
    flex: 1;
}

.hyperleaflet-sample__code>code>pre {
    margin: 0;
    padding: 1rem;
    height: 100%;
}

.hyperleaflet-sample__map {
    flex: 1;
    height: 400px;
}

#map {
    height: inherit;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.footer__image-container {
    text-decoration: none;
    background-image:
        linear-gradient(to bottom, transparent, rgb(51, 51, 51)),
        url('/assets/docs.png');
    width: 80%;
    aspect-ratio: 5/2;

    border-radius: var(--radius);
    background-size: cover;
    color: white;
    padding: 20px;

    display: flex;
    align-items: end;
    justify-content: center;

    transition: all .2s ease-in-out;

    --shadow-color: 0deg 0% 63%;
    box-shadow: 0px -0.2px 0.2px hsl(var(--shadow-color) / 0.21), 0px -1.1px 1.4px -0.2px hsl(var(--shadow-color) / 0.23), 0px -1.9px 2.4px -0.4px hsl(var(--shadow-color) / 0.25), 0px -2.9px 3.6px -0.7px hsl(var(--shadow-color) / 0.27), 0px -4.1px 5.1px -0.9px hsl(var(--shadow-color) / 0.29), -0.1px -5.9px 7.3px -1.1px hsl(var(--shadow-color) / 0.31), -0.1px -8.4px 10.4px -1.3px hsl(var(--shadow-color) / 0.33), -0.1px -11.8px 14.6px -1.5px hsl(var(--shadow-color) / 0.35), -0.2px -16.3px 20.2px -1.7px hsl(var(--shadow-color) / 0.37);

}

.footer__image-container:hover {

    transform: scale(1.02);


}
